* {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 600;
  background-color: #e0e0e0;
  text-transform: uppercase;
}
.container-button {
  display: flex;
  margin: 60px;
  justify-content: center;
  gap: 60px;
}

.button {
  background-color: #2f3e46;
  border-color: white;
  border-radius: 60px;
  box-shadow: 20px 20px 20px #bebebe, -20px -20px 20px #ffffff;
  padding: 30px;
}

.button-image {
  background-color: #2f3e46;
}

.dynamic-container {
  color: #2f3e46;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 10px 10px 60px #bebebe, -10px -10px 60px #ffffff;
  padding: 30px;
}

.container-result {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.container-score {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 20px;
}
